Repository shvedovskiy/meeting-rooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint

Done rooms selector displaying
  src/components/form/form-common/use-recommendation.ts
  src/components/form/form-ui/form-ui.tsx
  src/components/form/form-ui/use-recommendation.ts
  src/components/form/form-ui/utils.ts
  src/service/queries.ts
Due: eslint --fix, prettier --write

Improve styles
  public/index.html
  src/components/error/error.module.scss
  src/components/form/form-actions/form-actions.module.scss
  src/components/timesheet/timeline/timeline.module.scss
  src/index.scss
Due: prettier --write, stylelint

useRecommendation stable
  src/components/form/form-ui/form-ui.tsx
  src/components/form/form-ui/use-recommendation.ts
  src/components/form/form-ui/utils.ts
Due: eslint --fix, prettier --write

Мalidation errors fixed for participants
  src/components/form/form-common/validators.ts
Due: eslint --fix, prettier --write

Time fields get values when choosing a room with a different time
  src/components/form/form-ui/utils.ts
Due: eslint --fix, prettier --write

Bump dependencies versions
  package-lock.json
  package.json
Due: none

Events that need to be transferred are passed to submit handler
  src/components/form/form-connector.tsx
  src/components/form/form-ui/form-ui.tsx
  src/components/form/form-ui/use-recommendation.ts
  src/components/form/form-ui/utils.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Emptiness of fields is checked only when the form is submitted
  src/components/common/use-form/index.d.ts
  src/components/common/use-form/use-form.js
  src/components/form/form-actions/form-actions.tsx
  src/components/form/form-common/validators.ts
  src/components/form/form-ui/form-ui.tsx
  src/components/form/form-ui/utils.ts
Due: eslint --fix, prettier --write

Display time fields errors after blur
  src/components/common/use-form/index.d.ts
  src/components/common/use-form/use-form-state.js
  src/components/common/use-form/use-form.js
  src/components/form/form-common/validators.ts
  src/components/form/form-ui/form-ui.tsx
  src/components/ui/timepicker/time-input.tsx
  src/components/ui/timepicker/time-picker.module.scss
  src/components/ui/timepicker/time-picker.tsx
Due: eslint --fix, prettier --write

Improve time picker internal validation
  src/components/form/form-common/validators.ts
  src/components/ui/timepicker/time-input.tsx
  src/components/ui/timepicker/time-picker.module.scss
  src/components/ui/timepicker/time-picker.tsx
  src/index.scss
Due: eslint --fix, prettier --write

Fix incorrect form validation on submit
  src/components/common/use-form/use-form.js
  src/components/form/form-ui/form-ui.tsx
Due: eslint --fix, prettier --write

Show single message when empty field errors
  src/components/common/use-form/index.d.ts
  src/components/common/use-form/use-form.js
  src/components/form/form-common/validators.ts
  src/components/form/form-ui/form-ui.module.scss
  src/components/form/form-ui/form-ui.tsx
  src/components/form/form-ui/utils.ts
Due: eslint --fix, prettier --write

Timepicker improvements
  src/components/ui/timepicker/time-input.tsx
  src/components/ui/timepicker/time-picker.tsx
Due: eslint --fix, prettier --write

Add typings for datepicker styles
  src/components/ui/calendar/calendar-input/calendar-input.module.scss.d.ts
  src/components/ui/calendar/calendar-input/calendar-input.tsx
  src/components/ui/calendar/calendar.module.scss.d.ts
  src/components/ui/calendar/calendar.tsx
Due: eslint --fix, prettier --write

Adopt npm scripts to windows
  package.json
Due: none

Adopt npm scripts to windows
  package-lock.json
Due: none

Fix firefox
  src/components/timesheet/timeline/room/room.module.scss
  src/components/timesheet/timesheet.module.scss
  src/components/ui/timepicker/time-picker.module.scss
  src/index.scss
Due: none

Update clearfix mixin
  src/components/page/page.module.scss
  src/components/timesheet/timeline/card/card.module.scss
  src/service/styles/_mixins.scss
Due: none

Priority for red border of the input field for validation error
  src/components/ui/selectpicker/styles.ts
Due: eslint --fix, prettier --write

Refactor input component
  src/components/ui/input/input.module.scss
  src/components/ui/input/input.tsx
  src/components/ui/input/ref-input.tsx
Due: eslint --fix, prettier --write

Refresh DB when build server app
  .env.example
  package.json
  server/db-setup.ts
  server/service/create-connection.ts
Due: eslint --fix, prettier --write

Done date input validation
  src/components/common/use-form/use-form.js
  src/components/form/form-common/validators.ts
  src/components/form/form-ui/form-ui.module.scss
  src/components/form/form-ui/form-ui.tsx
  src/components/ui/calendar/calendar-input/calendar-input.tsx
  src/components/ui/calendar/calendar.tsx
  src/components/ui/calendar/common.tsx
  src/components/ui/calendar/utils.tsx
  src/components/ui/calendar/weekday.tsx
Due: eslint --fix, prettier --write

Refactor env variables system
  .env
  .env.example
  .env.test
  .gitignore
  README.md
  package.json
Due: none

Env
  .env.development
Due: none

Setting database parameters at server startup
  server/db-setup.ts
  server/service/config.ts
  server/service/create-connection.ts
Due: eslint --fix, prettier --write

Fixed incorrect calculation of hours lines height
  src/components/timesheet/date-switch/date-switch.module.scss
  src/components/timesheet/hours/hours-line.module.scss
  src/components/timesheet/hours/hours-line.tsx
Due: eslint --fix, prettier --write

Hyphenate form error messages
  .stylelintrc.json
  src/components/form/form-ui/form-ui.module.scss
  src/components/timesheet/timeline/card/card.module.scss
  src/components/ui/input/input.module.scss
  src/service/styles/_mixins.scss
Due: none

Fix calendar on mobile safari
  src/components/ui/calendar/calendar.module.scss
Due: none

README cleanup
  README.md
Due: none

Fix 100vh on mobile
  package.json
  public/index.html
  src/components/timesheet/hours/hours-line.module.scss
  src/index.scss
Due: prettier --write, stylelint

Remove body moving on mobile
  src/index.scss
Due: none

Hide calendar when select a day
  src/components/timesheet/date-switch/date-switch.tsx
  src/components/ui/calendar/calendar-input/calendar-input.module.scss
Due: eslint --fix, prettier --write

Add calendar reaction to external month changing
  src/components/ui/calendar/calendar.tsx
Due: eslint --fix, prettier --write

Add calendar reaction to external month changing
  src/components/ui/calendar/calendar-input/calendar-input.tsx
  src/components/ui/calendar/calendar.tsx
Due: eslint --fix, prettier --write

Close calendar after outside click
  src/components/timesheet/date-switch/date-switch.tsx
  src/components/ui/calendar/calendar.tsx
Due: eslint --fix, prettier --write

Hyphenate long button labels
  src/components/ui/button/button.module.scss
Due: none

Move outside clicks handling into calendar component
  src/components/timesheet/date-switch/date-switch.tsx
  src/components/ui/calendar/calendar.tsx
Due: eslint --fix, prettier --write

Expand calendar input on mobile
  src/components/ui/calendar/calendar-input/calendar-input.module.scss
  src/components/ui/calendar/calendar-input/calendar-input.module.scss.d.ts
  src/components/ui/calendar/calendar-input/calendar-input.tsx
  src/components/ui/calendar/calendar-input/overlay.tsx
Due: eslint --fix, prettier --write

Use format and parse helpers
  package-lock.json
  src/components/form/form-common/modals.ts
  src/components/timesheet/date-switch/date-switch.tsx
  src/components/timesheet/timeline/card/card.tsx
  src/components/ui/calendar/calendar-input/calendar-input.tsx
  src/components/ui/calendar/utils.tsx
  src/index.tsx
  src/service/dates.ts
  src/service/mutations.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: {src,server}/**/*.{js,jsx,ts,tsx}
  prettier --write: ((any of: {src,server}/**/*.{js,jsx,ts,tsx}) or (any of: src/**/*.css)) or (any of: public/**/*.html)
  stylelint: (any of: src/**/*.css) or (any of: public/**/*.html)
