Repository shvedovskiy/meeting-rooms: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, npx stylelint

Improve lint rules
  .gitignore
  .prettierrc
  .stylelintrc.json
  src/__tests__/store/counter/reducers.js
  src/components/main/main.jsx
  src/index.css
  src/index.js
  src/store/common/create-reducer.js
  src/store/configure-store.js
  src/store/counter/reducer.js
  src/store/root-reducer.js
  src/store/root-selectors.js
  src/store/types.js
Due: npx eslint --fix, npx prettier --write, npx stylelint

Migrate from express-graphql to apollo-server
  .huskyrc
  jest.config.js
  package-lock.json
  package.json
  server/config.js
  server/create-mock-data.js
  server/graphql/routes.js
  server/graphql/typeDefs.js
  server/index.js
  server/models/index.js
  server/pages/indexRoute.js
  server/pages/routes.js
  server/public/scripts/test.js
Due: npx eslint --fix, npx prettier --write

Fixed additional code formatting
  server/graphql/resolvers/index.js
  server/graphql/resolvers/query.js
  src/__tests__/store/counter/actions.js
  src/__tests__/store/counter/sagas.js
  src/__tests__/store/counter/selectors.js
  src/__tests__/store/root-reducer.js
  src/components/common/not-found-page/not-found-page.test.js
  src/components/helpers/async-component.jsx
  src/components/main/main.test.js
Due: npx eslint --fix, npx prettier --write

Test graphql user query
  .travis.yml
  LICENSE
  server/__test__/index.js
  server/__tests__/index.js
  server/graphql/resolvers/mutation.js
  server/models/Event.js
  server/models/Room.js
  server/models/User.js
Due: npx eslint --fix, npx prettier --write

Multiple dotenvs added
  .env.example
  .gitignore
Due: none

merge master
  .flowconfig
  package-lock.json
  server/create-mock-data.js
  server/graphql/resolvers/index.js
  server/graphql/routes.js
  server/models/Event.js
  server/models/Room.js
  server/models/User.js
  server/models/index.js
  server/models/scheme.js
Due: npx eslint --fix, npx prettier --write

Split graphql type definitions
  package-lock.json
  package.json
  server/graphql/Event/resolvers.js
  server/graphql/Event/typeDefs.js
  server/graphql/Event/types.js
  server/graphql/Room/resolvers.js
  server/graphql/Room/typeDefs.js
  server/graphql/Room/types.js
  server/graphql/User/resolvers.js
  server/graphql/User/typeDefs.js
  server/graphql/User/types.js
  server/graphql/schema.js
  server/graphql/types.js
Due: npx eslint --fix, npx prettier --write

Prepare tools for TypeScript integration
  .browserslistrc
  .editorconfig
  .env.example
  .eslintignore
  .eslintrc
  .flowconfig
  .gitignore
  .huskyrc
  .lintstagedrc
  .prettierrc
  .stylelintignore
  .stylelintrc.json
  .travis.yml
  LICENSE
  README
  jest.config.js
  package-lock.json
  package.json
  public/browserconfig.xml
  public/favicon.ico
  public/icons/android-chrome-192x192.png
  public/icons/android-chrome-256x256.png
  public/icons/apple-touch-icon-120x120.png
  public/icons/apple-touch-icon-152x152.png
  public/icons/apple-touch-icon-180x180.png
  public/icons/apple-touch-icon-60x60.png
  public/icons/apple-touch-icon-76x76.png
  public/icons/apple-touch-icon.png
  public/icons/favicon-16x16.png
  public/icons/favicon-32x32.png
  public/icons/favicon.ico
  public/icons/mstile-150x150.png
  public/icons/mstile-310x150.png
  public/icons/mstile-70x70.png
  public/icons/safari-pinned-tab.svg
  public/index.html
  public/site.webmanifest
  src/components/main/logo.svg
  src/index.css
Due: npx prettier --write, npx stylelint

Replace eslint with eslint-typescript
  .browserslistrc
  .eslintrc
  .eslintrc.js
  .gitignore
  tsconfig.json
Due: none

Add nullable returns for resolvers
  server/resolver/event-resolver.ts
  server/resolver/room-resolver.ts
  server/resolver/user-resolver.ts
Due: none

Upgrade configs
  .env.example
  .eslintignore
  .eslintrc.js
  server/jest.config.js
  server/tsconfig.json
  tsconfig.json
Due: npx eslint --fix, npx prettier --write

Prepare test environment
  server/create-connection.ts
  server/create-schema.ts
  server/index.ts
  server/service/config.ts
  server/test-utils/graphql-call.ts
  server/test-utils/setup.ts
Due: none

Prepare test environment
  package-lock.json
  package.json
Due: none

Create resolver factory for User and Room resolvers
  server/resolver/common/create-resolver.ts
  server/resolver/room-resolver.ts
  server/resolver/user-resolver.ts
Due: none

Add tests for User resolvers
  server/__tests__/index.js
  server/__tests__/user.test.ts
  server/entity/event.ts
  server/entity/room.ts
  server/entity/user.ts
  server/resolver/event-resolver.ts
  server/resolver/types/room-input.ts
  server/resolver/types/user-input.ts
Due: npx eslint --fix, npx prettier --write

Improve test setups
  package.json
  server/db-setup.ts
  server/index.ts
  server/jest.config.js
  server/service/create-connection.ts
  server/service/create-schema.ts
  server/test-utils/graphql-call.ts
  server/test-utils/setup.ts
  server/tsconfig.json
Due: npx eslint --fix, npx prettier --write

Add tests for Room
  server/__tests__/room-mutation.test.ts
  server/__tests__/room-query.test.ts
  server/__tests__/user-mutation.test.ts
  server/__tests__/user-query.test.ts
Due: none

Migrate to CircleCI
  .circleci/config.yml
Due: none

Use in-memory sqlite in test environment
  .eslintrc.js
  .travis.yml
  package.json
  server/__tests__/room-mutation.test.ts
  server/__tests__/room-query.test.ts
  server/__tests__/user-mutation.test.ts
  server/__tests__/user-query.test.ts
  server/db-setup.ts
  server/service/create-connection.ts
  server/service/create-schema.ts
  server/test-utils/setup.ts
Due: none

Fix CircleCI config errors
  .circleci/config.yml
Due: none

Disable lint job on CircleCi
  .circleci/config.yml
Due: none

Use Date in graphql typings
  README
  README.md
  server/entity/event.ts
  server/resolver/arguments.ts
  server/resolver/types/event-input.ts
  server/service/create-schema.ts
  server/service/seed-database.ts
  server/service/validators/is-after.ts
  server/test-utils/create-db-entity.ts
Due: none

Use helpers for entities creataion in tests
  server/__tests__/room-mutation.test.ts
  server/__tests__/room-query.test.ts
  server/__tests__/user-mutation.test.ts
  server/__tests__/user-query.test.ts
Due: none

Split entity input definitions into creation and update
  package-lock.json
  package.json
  server/__tests__/room-mutation.test.ts
  server/__tests__/room-query.test.ts
  server/__tests__/user-mutation.test.ts
  server/__tests__/user-query.test.ts
  server/global.d.ts
  server/jest.config.js
  server/resolver/common/create-resolver.ts
  server/resolver/room-resolver.ts
  server/resolver/types/room-input.ts
  server/resolver/types/user-input.ts
  server/resolver/user-resolver.ts
  server/test-utils/create-db-entity.ts
Due: npx eslint --fix, npx prettier --write

Update Event definition
  server/entity/event.ts
  server/resolver/event-resolver.ts
  server/resolver/types/event-input.ts
Due: none

Add tests for Event
  server/__tests__/event-mutation.test.ts
  server/__tests__/room-mutation.test.ts
  server/__tests__/user-mutation.test.ts
  server/resolver/event-resolver.ts
Due: none

Done Events test
  server/__tests__/event-query.test.ts
  server/__tests__/room-query.test.ts
  server/__tests__/user-query.test.ts
Due: none

Update dependencies
  package-lock.json
  package.json
Due: none

Improve tests formatting
  server/__tests__/event-mutation.test.ts
  server/__tests__/event-query.test.ts
  server/__tests__/room-mutation.test.ts
  server/__tests__/room-query.test.ts
  server/__tests__/user-mutation.test.ts
  server/__tests__/user-query.test.ts
  server/test-utils/create-db-entity.ts
Due: none

Cleanup client side directory
  package-lock.json
  package.json
  src/__tests__/store/counter/actions.js
  src/__tests__/store/counter/reducers.js
  src/__tests__/store/counter/sagas.js
  src/__tests__/store/counter/selectors.js
  src/__tests__/store/root-reducer.js
  src/components/app/app.jsx
  src/components/app/app.tsx
  src/components/common/not-found-page/__snapshots__/not-found-page.test.js.snap
  src/components/common/not-found-page/not-found-page.jsx
  src/components/common/not-found-page/not-found-page.test.js
  src/components/helpers/authenticated-route.jsx
  src/components/main/__snapshots__/main.test.js.snap
  src/components/main/logo.svg
  src/components/main/main.jsx
  src/components/main/main.module.css
  src/components/main/main.test.js
  src/index.tsx
  src/service/config.ts
  src/serviceWorker.ts
  src/setupTests.js
  src/setupTests.ts
  src/store/common/create-reducer.js
  src/store/configure-store.js
  src/store/configure-store.ts
  src/store/counter/action-types.js
  src/store/counter/actions.js
  src/store/counter/reducer.js
  src/store/counter/sagas.js
  src/store/counter/selectors.js
  src/store/counter/types.js
  src/store/root-reducer.js
  src/store/root-selectors.js
  src/store/sagas.js
  src/store/types.js
Due: npx eslint --fix, npx prettier --write, npx stylelint

Enable lint script
  .circleci/config.yml
  .lintstagedrc
  package.json
  server/__tests__/room-query.test.ts
  src/setupTests.ts
Due: none

Add typescript check to lint task
  .prettierrc
  .stylelintrc.json
  package.json
  src/components/app/app.tsx
  src/index.tsx
  src/store/configure-store.ts
  tsconfig.json
Due: none

Stylelint scss support
  .stylelintrc.json
  package-lock.json
  package.json
  tsconfig.json
Due: none

Path conditions:
  npx eslint --fix: any of: {src,server}/**/*.{js,jsx}
  npx prettier --write: ((any of: {src,server}/**/*.{js,jsx}) or (any of: {src,server}/**/*.css)) or (any of: public/**/*.html)
  npx stylelint: (any of: {src,server}/**/*.css) or (any of: public/**/*.html)
