Repository shvedovskiy/meeting-rooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint

Setup modal window animation
  src/components/ui/modal/modal.module.scss
  src/components/ui/modal/modal.tsx
Due: eslint --fix, prettier --write

Fix combining several consecutive event ranges into one
  src/components/timesheet/timeline/room/common.ts
Due: eslint --fix, prettier --write

Define form submission
  src/components/app/app.tsx
  src/components/form/form-ui.tsx
  src/components/form/form.tsx
  src/components/page/page.tsx
  src/components/timesheet/timeline/room/room.tsx
  src/components/timesheet/types.ts
  src/context/page-context.ts
Due: eslint --fix, prettier --write

Make use graphql-tag in components
  src/components/timesheet/timeline/timeline.tsx
  src/components/timesheet/timesheet.tsx
  src/service/mutations.ts
  src/service/queries.ts
Due: eslint --fix, prettier --write

Mdash in cart time range
  src/components/timesheet/timeline/card/card.tsx
Due: eslint --fix, prettier --write

Update use-form hook typings
  src/components/utils/use-form/index.d.ts
Due: eslint --fix, prettier --write

Check dashes
  src/components/page/page.tsx
  src/components/timesheet/timeline/card/card.tsx
  src/components/timesheet/timeline/room/common.ts
  src/components/ui/option-picker/option/option.tsx
Due: eslint --fix, prettier --write

Fix fullscreen spinner
  src/components/ui/spinner/spinner.module.scss
Due: none

Animation settings for Modal and Spinner components
  src/components/ui/modal/modal.tsx
  src/components/ui/spinner/spinner-transition.module.scss
  src/components/ui/spinner/spinner.tsx
Due: eslint --fix, prettier --write

Show successful modal before page closing
  src/components/app/app.tsx
  src/components/form/common.ts
  src/components/form/form-ui.tsx
  src/components/form/form.tsx
  src/components/page/page.tsx
  src/components/timesheet/timeline/room/room.tsx
  src/context/page-context.ts
Due: eslint --fix, prettier --write

Done "update event" action
  src/components/form/form-actions/form-actions.module.scss
  src/components/form/form-actions/form-actions.tsx
  src/components/form/form-connector.module.scss
  src/components/form/form-connector.tsx
  src/components/form/form-ui/form-ui.module.scss
  src/components/form/form-ui/form-ui.tsx
  src/components/form/form.tsx
  src/components/form/index.ts
  src/components/form/service/common.ts
  src/components/form/service/validators.ts
  src/components/timesheet/types.ts
  src/service/mutations.ts
Due: eslint --fix, prettier --write

Room and participant data updates in updateEvent resolver
  server/__tests__/event-mutation.test.ts
  server/resolver/arguments.ts
  server/resolver/event-resolver.ts
Due: eslint --fix, prettier --write

Bump dependencies versions
  package-lock.json
  package.json
  server/resolver/event-resolver.ts
  server/service/create-connection.ts
  server/test-utils/create-db-entity.ts
  src/components/timesheet/common.ts
  src/components/timesheet/timeline/timeline.tsx
  src/components/ui/input/input.tsx
  src/components/ui/input/ref-input.tsx
Due: eslint --fix, prettier --write

Scroll page content instead of entire page
  .stylelintrc.json
  src/components/form/form-ui/form-ui.module.scss
  src/components/page/page.module.scss
Due: none

Manage save button disabled state
  src/components/form/form-actions/form-actions.tsx
  src/components/form/form-connector.tsx
  src/components/form/form-ui/form-ui.tsx
  src/components/form/service/common.ts
  src/components/form/service/validators.ts
  src/components/timesheet/types.ts
Due: eslint --fix, prettier --write

Refactor form code
  src/components/app/app.tsx
  src/components/form/form-actions/form-actions.tsx
  src/components/form/form-connector.tsx
  src/components/form/form-ui/form-ui.tsx
  src/components/form/service/common.ts
  src/components/page/page.tsx
  src/components/timesheet/types.ts
  src/context/page-context.ts
Due: eslint --fix, prettier --write

Migrate main font
  .stylelintrc.json
  src/components/app/app.module.scss
  src/components/form/form-actions/form-actions.tsx
  src/components/form/form-ui/form-ui.module.scss
  src/components/page/page.module.scss
  src/components/timesheet/date-switch/date-switch.module.scss
  src/components/timesheet/timeline/card/card.module.scss
  src/components/timesheet/timeline/room/room.module.scss
  src/components/timesheet/timeline/timeline.module.scss
  src/components/ui/button/button.module.scss
  src/components/ui/calendar/calendar.module.scss
  src/components/ui/option-picker/option/option.module.scss
  src/components/ui/selectpicker/multi-value-label/multi-value-label.module.scss
  src/components/ui/selectpicker/multi-value-remove/multi-value-remove.module.scss
  src/components/ui/selectpicker/option/option.module.scss
  src/index.scss
  src/service/styles/_fonts.scss
  src/service/styles/_mixins.scss
  src/service/styles/fonts/text-bold.woff
  src/service/styles/fonts/text-bold.woff2
  src/service/styles/fonts/text-regular.woff
  src/service/styles/fonts/text-regular.woff2
Due: eslint --fix, prettier --write

Refactor utils namings
  src/components/form/service/validators.ts
  src/components/timesheet/hours/hours-line.tsx
  src/service/dates.ts
Due: eslint --fix, prettier --write

Add font files
  src/service/styles/fonts/text-light.woff
  src/service/styles/fonts/text-light.woff2
Due: none

Improve line heights
  src/components/ui/button/button.module.scss
  src/components/ui/modal/modal.module.scss
Due: none

Update branding
  .env.example
  public/browserconfig.xml
  public/favicon.ico
  public/icons/android-chrome-192x192.png
  public/icons/android-chrome-256x256.png
  public/icons/android-chrome-384x384.png
  public/icons/android-chrome-512x512.png
  public/icons/apple-touch-icon-120x120.png
  public/icons/apple-touch-icon-152x152.png
  public/icons/apple-touch-icon-180x180.png
  public/icons/apple-touch-icon-60x60.png
  public/icons/apple-touch-icon-76x76.png
  public/icons/apple-touch-icon.png
  public/icons/favicon-16x16.png
  public/icons/favicon-32x32.png
  public/icons/favicon.ico
  public/icons/favicon.png
  public/icons/mstile-310x150.png
  public/icons/mstile-310x310.png
  public/icons/mstile-70x70.png
  public/icons/mstile.png
  public/icons/safari-pinned-tab.svg
  public/index.html
  public/site.webmanifest
Due: prettier --write, stylelint

Mobile delete button
  src/components/form/form-actions/form-actions.tsx
  src/components/form/form-ui/form-ui.module.scss
  src/components/form/form-ui/form-ui.tsx
  src/components/timesheet/hours/hours-line.module.scss
  src/components/timesheet/timeline/timeline.module.scss
  src/components/ui/button/button.module.scss
  src/components/ui/button/button.tsx
Due: eslint --fix, prettier --write

Fix typo
  src/components/ui/button/button.tsx
Due: eslint --fix, prettier --write

stylelint prettier plugin
  .stylelintrc.json
  package-lock.json
  package.json
Due: none

Move delete confirmation modal to form-actions
  src/components/form/form-actions/form-actions.module.scss
  src/components/form/form-actions/form-actions.tsx
  src/components/form/form-ui/form-ui.module.scss
  src/components/form/form-ui/form-ui.tsx
Due: eslint --fix, prettier --write

useRecommendation draft
  src/components/form/form-actions/form-actions.tsx
  src/components/form/form-connector.tsx
  src/components/form/form-ui/form-ui.tsx
  src/components/form/service/common.ts
  src/components/form/service/compare-form-states.ts
  src/components/form/service/modals.ts
  src/components/form/service/use-recommendation.ts
  src/components/timesheet/types.ts
Due: eslint --fix, prettier --write

Migrate from apollo-boost
  package-lock.json
  package.json
  src/index.tsx
Due: eslint --fix, prettier --write

Refactor events data storage
  src/components/timesheet/common.ts
  src/components/timesheet/hours/hours-line.tsx
  src/components/timesheet/timeline/room/common.ts
  src/components/timesheet/timeline/room/room.tsx
  src/components/timesheet/timesheet.tsx
  src/components/timesheet/types.ts
  src/service/dates.ts
  src/service/queries.ts
  src/service/resolvers.ts
Due: eslint --fix, prettier --write

Resolve prettier stylelint conflicts
  .stylelintrc.json
  src/components/app/app.module.scss
  src/components/page/page.module.scss
  src/components/timesheet/date-switch/date-switch.module.scss
  src/components/timesheet/hours/hours-line.module.scss
  src/components/timesheet/timeline/card/card.module.scss
  src/components/timesheet/timeline/room/room.module.scss
  src/components/timesheet/timeline/timeline.module.scss
  src/components/timesheet/timesheet.module.scss
  src/components/ui/button/button.module.scss
  src/components/ui/selectpicker/multi-value-label/multi-value-label.module.scss
  src/components/ui/selectpicker/option/option.module.scss
  src/components/ui/timepicker/time-picker.module.scss
  src/index.scss
  src/service/styles/_fonts.scss
  src/service/styles/_mixins.scss
Due: none

Simplify context usage
  src/components/app/app.tsx
  src/components/form/form-actions/form-actions.tsx
  src/components/form/form-ui/form-ui.tsx
  src/components/page/page.tsx
  src/components/timesheet/timeline/card/card.tsx
  src/components/timesheet/timeline/room/room.tsx
  src/components/timesheet/timeline/timeline.tsx
  src/components/timesheet/timesheet.tsx
  src/components/ui/modal/modal.tsx
  src/context/page-context.ts
  src/context/scroll-context.ts
  src/context/size-context.ts
Due: eslint --fix, prettier --write

New time helper
  src/components/timesheet/common.ts
  src/service/dates.ts
Due: eslint --fix, prettier --write

Fix bugs in mobile styles
  src/components/form/form-ui/form-ui.module.scss
  src/components/timesheet/timeline/room/room.module.scss
Due: none

Restructure utility files
  src/components/common/use-day.ts
  src/components/common/use-form/index.d.ts
  src/components/common/use-form/index.js
  src/components/common/use-form/use-cache.js
  src/components/common/use-form/use-form-state.js
  src/components/common/use-form/use-form.js
  src/components/common/use-interval.ts
  src/components/common/use-portal.ts
  src/components/common/with-error-boundary.tsx
  src/components/form/form-actions/form-actions.tsx
  src/components/form/form-common/compare-form-states.ts
  src/components/form/form-common/modals.ts
  src/components/form/form-common/use-recommendation.ts
  src/components/form/form-common/validators.ts
  src/components/form/form-connector.tsx
  src/components/form/form-ui/form-ui.tsx
  src/components/form/service/use-recommendation.ts
  src/components/timesheet/hours/use-current-time.ts
  src/components/timesheet/timeline/room/room-utils.ts
  src/components/timesheet/timeline/room/room.tsx
  src/components/timesheet/timesheet.tsx
  src/components/timesheet/utils.ts
  src/components/ui/selectpicker/value-container/value-container.tsx
Due: eslint --fix, prettier --write

Context helpers improvements
  src/context/page-context.ts
  src/context/scroll-context.ts
  src/context/size-context.ts
Due: eslint --fix, prettier --write

Client queries adaptation to universal usage
  src/service/queries.ts
  src/service/resolvers.ts
Due: eslint --fix, prettier --write

Disable hovering effect on empty option picker
  src/components/ui/option-picker/option/option.module.scss
  src/components/ui/option-picker/option/option.tsx
Due: eslint --fix, prettier --write

Room cards are created before the page opens
  src/components/form/form-connector.tsx
  src/components/timesheet/timeline/room/room.tsx
  src/components/timesheet/types.ts
  src/context/page-context.ts
Due: eslint --fix, prettier --write

Option picker should respond to changes in props
  src/components/ui/option-picker/option-picker.tsx
Due: eslint --fix, prettier --write

useForm enhancements
  src/components/common/use-form/index.d.ts
  src/components/common/use-form/use-form.js
Due: eslint --fix, prettier --write

Do not send past events to client
  server/__tests__/event-mutation.test.ts
  server/__tests__/event-query.test.ts
  server/entity/event.ts
  server/resolver/event-resolver.ts
  server/test-utils/create-db-entity.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: {src,server}/**/*.{js,jsx,ts,tsx}
  prettier --write: ((any of: {src,server}/**/*.{js,jsx,ts,tsx}) or (any of: src/**/*.css)) or (any of: public/**/*.html)
  stylelint: (any of: src/**/*.css) or (any of: public/**/*.html)
