Repository shvedovskiy/meeting-rooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint

.lintstagedrc:

{
  "{src,server}/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "src/**/*.css": [
    "prettier --write",
    "stylelint",
    "git add"
  ],
  "public/**/*.html": [
    "prettier --write",
    "stylelint",
    "git add"
  ]
}

Rename classNames import to shortand form
  src/components/timesheet/timeline/card/card.tsx
  src/components/timesheet/timesheet.tsx
  src/components/ui/button/button.tsx
  src/components/ui/icon-button/icon-button.tsx
  src/components/ui/input/input.tsx
  src/components/ui/input/ref-input.tsx
  src/components/ui/modal/modal.tsx
  src/components/ui/option-picker/option/option.tsx
  src/components/ui/selectpicker/option/option.tsx
Due: eslint --fix, prettier --write

Prepare database before tests running
  server/__tests__/event-mutation.test.ts
  server/__tests__/event-query.test.ts
  server/__tests__/room-mutation.test.ts
  server/__tests__/room-query.test.ts
  server/__tests__/user-mutation.test.ts
  server/__tests__/user-query.test.ts
  server/db-setup.ts
  server/index.ts
  server/service/config.ts
  server/service/create-connection.ts
  server/test-utils/setup.ts
Due: eslint --fix, prettier --write

Return room info when remove event
  server/__tests__/event-mutation.test.ts
  server/resolver/event-resolver.ts
Due: eslint --fix, prettier --write

Fix tooltip overlapping
  src/components/ui/tooltip/tooltip.module.scss
Due: none

Fix UI
  src/components/timesheet/timeline/room/room.module.scss
  src/components/timesheet/timeline/timeline.module.scss
  src/components/timesheet/timeline/timeline.tsx
  src/components/ui/calendar/calendar-input/overlay.tsx
  src/components/ui/timepicker/time-picker.tsx
Due: eslint --fix, prettier --write

Update apollo cache after changes
  src/components/app/app.tsx
  src/components/form/form-connector.tsx
  src/components/form/form-ui/form-ui.tsx
  src/components/form/form-ui/use-recommendation.ts
  src/components/form/form-ui/utils.ts
  src/components/timesheet/timeline/room/room.tsx
  src/components/timesheet/timesheet.tsx
  src/index.tsx
  src/service/apollo/cache.ts
  src/service/apollo/client.ts
  src/service/apollo/mutations.ts
  src/service/apollo/queries.ts
  src/service/apollo/resolvers.ts
  src/service/config.ts
Due: eslint --fix, prettier --write

Update apollo cache after changes
  .env
Due: none

Fix empty calendar input validation
  src/components/form/form-common/validators.ts
  src/components/ui/calendar/calendar-input/calendar-input.tsx
Due: eslint --fix, prettier --write

UI Improvements
  src/components/timesheet/timesheet.module.scss
  src/components/ui/calendar/calendar-input/calendar-input.tsx
  src/components/ui/calendar/calendar.module.scss
Due: eslint --fix, prettier --write

Fix validation issues
  src/components/common/use-form/use-form.js
  src/components/form/form-common/validators.ts
  src/components/form/form-ui/form-ui.tsx
  src/components/form/form-ui/utils.ts
Due: eslint --fix, prettier --write

Loose URL validation on the server
  server/entity/event.ts
  server/entity/room.ts
  server/resolver/types/user-input.ts
Due: eslint --fix, prettier --write

Review UI overflow
  src/components/form/form-ui/form-ui.module.scss
  src/components/page/page.module.scss
  src/components/timesheet/timeline/card/card.module.scss
  src/components/ui/modal/modal.module.scss
  src/components/ui/modal/modal.tsx
  src/components/ui/selectpicker/option/option.module.scss
  src/components/ui/selectpicker/option/option.tsx
  src/components/ui/selectpicker/styles.ts
Due: eslint --fix, prettier --write

Fix off time validation issue
  src/components/form/form-common/validators.ts
Due: eslint --fix, prettier --write

Title attributes for overflowed elements
  src/components/form/form-ui/form-ui.tsx
  src/components/timesheet/date-switch/date-switch.tsx
  src/components/timesheet/timeline/room/room.tsx
  src/components/timesheet/timeline/timeline.tsx
  src/components/ui/button/button.tsx
  src/components/ui/icon-button/icon-button.tsx
  src/components/ui/option-picker/option/option.tsx
  src/components/ui/selectpicker/multi-value-label/multi-value-label.tsx
  src/components/ui/selectpicker/multi-value-remove/multi-value-remove.tsx
  src/components/ui/selectpicker/option/option.tsx
Due: eslint --fix, prettier --write

Add font preload tags
  .env
  .eslintrc.js
  package.json
  scripts/insert-preloads.js
  src/components/common/with-error-boundary.tsx
Due: eslint --fix, prettier --write

Update CI config
  .circleci/config.yml
Due: none

Add brotli and gzip compression
  package-lock.json
  package.json
Due: none

Fix removeEvent test
  server/__tests__/event-mutation.test.ts
Due: eslint --fix, prettier --write

Use mixins
  src/components/error/error.module.scss
  src/components/form/form-ui/form-ui.module.scss
  src/components/page/page.module.scss
  src/components/timesheet/date-switch/date-switch.module.scss
  src/components/ui/option-picker/option/option.module.scss
Due: none

Error boundary for page loading failures
  src/components/common/with-error-boundary.tsx
  src/components/error/error.tsx
  src/components/page/page.module.scss
  src/components/page/page.tsx
Due: eslint --fix, prettier --write

Simplify Icon component API
  src/components/ui/button/button.module.scss
  src/components/ui/icon-button/icon-button.module.scss
  src/components/ui/icon/icon.tsx
  src/components/ui/input/input.module.scss
  src/components/ui/option-picker/option/option.module.scss
  src/components/ui/option-picker/option/option.tsx
  src/components/ui/selectpicker/multi-value-remove/multi-value-remove.module.scss
  src/index.scss
Due: eslint --fix, prettier --write

Reduce remove mutation size
  src/service/apollo/mutations.ts
  src/service/mutations.ts
  src/service/queries.ts
  src/service/resolvers.ts
Due: eslint --fix, prettier --write

Optimize Icon classes
  src/components/ui/icon-button/icon-button.module.scss
  src/components/ui/option-picker/option/option.module.scss
  src/components/ui/selectpicker/multi-value-remove/multi-value-remove.module.scss
  src/components/ui/selectpicker/multi-value-remove/multi-value-remove.tsx
Due: eslint --fix, prettier --write

Fix aria attribute (Icon component)
  src/components/ui/icon/icon.tsx
Due: eslint --fix, prettier --write

Refactor z-index usage
  public/index.html
  src/components/form/form-actions/form-actions.module.scss
  src/components/page/page.module.scss
  src/components/timesheet/hours/hours-line.module.scss
  src/components/timesheet/timeline/room/room.module.scss
  src/components/timesheet/timesheet.module.scss
  src/components/ui/spinner/spinner.module.scss
  src/components/ui/tooltip/tooltip.module.scss
  src/index.scss
Due: prettier --write, stylelint

Show message after mutation errors
  src/components/form/form-actions/form-actions.tsx
  src/components/form/form-add/form-add.tsx
  src/components/form/form-add/index.ts
  src/components/form/form-common/modals.ts
  src/components/form/form-connector.tsx
  src/components/form/form-edit/form-edit.tsx
  src/components/form/form-edit/index.ts
  src/components/form/form-ui/form-ui.tsx
  src/components/form/form.module.scss
  src/components/form/index.ts
  src/components/form/types.ts
  src/components/page/page.tsx
  src/components/ui/modal/modal.tsx
  src/service/apollo/cache.ts
  src/service/apollo/queries.ts
Due: eslint --fix, prettier --write

Add close modal callback to form pages
  src/components/form/form-add/form-add.tsx
  src/components/form/form-edit/form-edit.tsx
Due: eslint --fix, prettier --write

Return initialValues prop (add form)
  src/components/form/form-add/form-add.tsx
  src/components/form/form-ui/form-ui.tsx
Due: eslint --fix, prettier --write

Combine form types into single module
  src/components/form/form-add/form-add.tsx
  src/components/form/form-common/types.ts
  src/components/form/form-edit/form-edit.tsx
  src/components/form/form-ui/form-ui.tsx
  src/components/form/form-ui/use-recommendation.ts
  src/components/form/form-ui/utils.ts
  src/components/form/types.ts
Due: eslint --fix, prettier --write

Update multiple events
  server/__tests__/event-mutation.test.ts
  server/resolver/arguments.ts
  server/resolver/event-resolver.ts
  server/resolver/types/common-input.ts
  server/resolver/types/event-input.ts
  src/components/form/form-add/form-add.tsx
  src/components/form/form-common/types.ts
  src/components/form/form-edit/form-edit.tsx
  src/components/form/form-ui/form-ui.tsx
  src/components/form/form-ui/use-recommendation.ts
  src/service/apollo/cache.ts
  src/service/apollo/client.ts
  src/service/apollo/mutations.ts
Due: eslint --fix, prettier --write

Add react-error-boundary package
  package-lock.json
  package.json
  src/components/common/with-error-boundary.tsx
  src/components/error/error.tsx
  src/components/page/page.tsx
Due: eslint --fix, prettier --write

Update server tests
  server/__tests__/event-mutation-create.test.ts
  server/__tests__/event-mutation-remove.test.ts
  server/__tests__/event-mutation-room.test.ts
  server/__tests__/event-mutation-update.test.ts
  server/__tests__/event-mutation-users.test.ts
  server/__tests__/event-mutation.test.ts
Due: eslint --fix, prettier --write

Use third-party tooltip component
  package-lock.json
  package.json
  src/components/timesheet/timeline/card/card.module.scss
  src/components/timesheet/timeline/card/card.tsx
  src/components/timesheet/timeline/room/room.module.scss
  src/components/timesheet/timeline/room/room.tsx
  src/components/ui/tooltip/ref.tsx
  src/components/ui/tooltip/tooltip-transition.module.scss
  src/components/ui/tooltip/tooltip.module.scss
  src/components/ui/tooltip/tooltip.tsx
  src/components/ui/tooltip/utils.ts
  src/index.scss
Due: eslint --fix, prettier --write

Bump dependencies
  .eslintrc.js
  package-lock.json
  package.json
  tsconfig.json
Due: none

Close tooltip before edit page opens
  src/components/timesheet/timeline/room/room.tsx
Due: eslint --fix, prettier --write

Use optional chaining and nullish coalescing operators
  server/__tests__/event-mutation-remove.test.ts
  server/resolver/common/create-resolver.ts
  server/resolver/event-resolver.ts
  src/components/app/app.tsx
  src/components/common/use-form/use-form-state.js
  src/components/common/use-form/use-form.js
  src/components/common/use-interval.ts
  src/components/common/use-portal.ts
  src/components/form/form-actions/form-actions.tsx
  src/components/form/form-edit/form-edit.tsx
  src/components/form/form-ui/use-recommendation.ts
  src/components/timesheet/date-switch/date-switch.tsx
  src/components/timesheet/timeline/card/card.tsx
  src/components/timesheet/timeline/timeline.tsx
  src/components/timesheet/timesheet.tsx
  src/components/ui/calendar/calendar-input/calendar-input.tsx
  src/components/ui/calendar/calendar.tsx
  src/components/ui/icon-button/icon-button.tsx
  src/components/ui/input/input.tsx
  src/components/ui/modal/modal.tsx
  src/components/ui/option-picker/option-picker.tsx
  src/components/ui/selectpicker/selectpicker.tsx
  src/components/ui/timepicker/time-input.tsx
  src/components/ui/timepicker/time-picker.tsx
  src/service/apollo/cache.ts
  src/service/apollo/resolvers.ts
  src/serviceWorker.ts
Due: eslint --fix, prettier --write

Update create react app
  package-lock.json
  package.json
  src/serviceWorker.ts
  src/setupTests.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Ignore vscode configs
  .gitignore
Due: none

Include blur validation when form is submitted
  src/components/common/use-form/use-form-state.js
  src/components/common/use-form/use-form.js
Due: eslint --fix, prettier --write

Various improvements
  .env
  server/index.ts
  server/service/config.ts
  src/components/form/form-ui/form-ui.module.scss
  src/components/timesheet/timeline/card/card.module.scss
  src/components/timesheet/timeline/room/room.tsx
Due: eslint --fix, prettier --write
